#searchBar {
  background-color: #C4C4C4;
  border-radius: 100px;
}
#searchBar #searchInput {
  height: inherit;
  border-radius: 100px;
  background: #C4C4C4;
  border: none;
}
#searchBar #searchButton {
  background-color: #36157A;
  border-radius: 100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}
