#searchBar {
  background-color: #FFF;
  border-radius: 100px;
}
#searchBar #searchInput {
  border-radius: 100px;
  background-color: red;
}
#searchBar #searchButton {
  background-color: #36157A;
  border-radius: 100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}
