@use 'vars' as vars;

body {
    background-color: vars.$dark;
    #nav {
        background-color: vars.$light;
        #topNav {
            display: flex;
            justify-content: space-between;
            margin: 0 40px;
            padding-top: 20px;
            flex-wrap: wrap;
            .logo {
                display: flex;
                cursor: pointer;
                color: vars.$white;
                align-items: center;
                img {
                    height: 3em;
                    border-right: solid vars.$white 2px;
                    $space: 20px;
                    padding-right: $space; 
                    margin-right: $space;
                }
                .logoText {
                    font-size: 3em;
                    // font-family: 'Rubik', sans-serif;
                    font-family: 'Gemunu Libre', sans-serif;
                }
            }
            #topButtons {
                display: flex;
                align-items: center;
                $buttonSpacing: 2vw;
                $buttonSize: 3em;
                .topButton {
                    display: flex;
                    text-decoration: none;
                    justify-content: center;
                    align-items: center;
                    border-radius: 100px;
                    height: 50px;

                    p {
                        font-size: 2em;
                        color: black;
                    }
                }
                #trendingButton {
                    margin-right: $buttonSpacing;
                    img {
                        width: $buttonSize;
                    }
                }
                #favoritesButton {
                    margin-right: $buttonSpacing;
                    img {
                        width: $buttonSize;
                    }
                }
                #loginButton {
                    // margin-right: -12px;
                    img {
                        width: $buttonSize;
                        border: 1px solid rgb(50, 64, 134);
                        border-radius: 100vw;
                    }
                }
            }
        }
        #searchBar {
            background-color: vars.$white;
            border-radius: 100px;
            height: 50px;
            display: flex;
            margin: 30px 40px;
            #searchInput {
                font-size: 1.5em;
                border-radius: 100px;
                padding: 0 0 0 15px;
                border: none;
                flex-grow: 2;
                outline: none;
                background-color: transparent;
            }
            #searchButton {
                align-self: center;
                $diameter: 42px;
                margin-right: 4px;
                width: $diameter;
                height: $diameter;
                background-color: vars.$light;
                border-radius: 100px;
                border: none;
                cursor: pointer;
                &:hover {
                    background-color: vars.$dark;
                }
            }
            // margin-bottom: 200px;
            
        }
        padding-bottom: 20px;
    }
}