@use 'vars' as vars;



#searchBar {
    background-color: vars.$white;
    border-radius: 100px;
    height: 50px;
    display: flex;
    #searchInput {
        font-size: 1.5em;
        // height: inherit;
        border-radius: 100px;
        background: vars.$white;
        padding: 0 15px;
        border: none;
        width: max-content;
    }
    #searchButton {
        width: 50px;
        background-color: vars.$base-purple;
        border-radius: 100px;
    }
}