@use 'vars' as vars;

body {
    background-color: vars.$dark;
    #navigation {
        background-color: vars.$light;
        #topNav {
            display: flex;
            justify-content: space-between;
            margin: 0 40px;
            padding-top: 20px;
            flex-wrap: wrap;

            @media (max-width: 463px) {
                justify-content: center;
            }
            .logo {
                display: flex;
                cursor: pointer;
                color: vars.$white;
                align-items: center;
                max-height: 52.5px;

                @media (max-width: 463px) {
                    margin-bottom: 15px;
                }
                img {
                    height: 3em;
                    border-right: solid vars.$white 2px;
                    $space: 20px;
                    padding-right: $space; 
                    margin-right: $space;
                }
                .logoText {
                    font-size: 3em;
                    margin: 0;
                    padding: 0;
                    // font-family: 'Rubik', sans-serif;
                    font-family: 'Gemunu Libre', sans-serif;
                    letter-spacing: .05em;
                }
            }
            #topButtons {
                display: flex;
                align-items: center;
                $buttonSpacing: 2vw;
                $buttonSize: 3em;
                max-height: 52.5px;
                .topButton {
                    display: flex;
                    text-decoration: none;
                    justify-content: center;
                    align-items: center;
                    border-radius: 100px;
                    height: 50px;

                    p {
                        font-size: 2em;
                        color: black;
                    }
                }
                #trendingButton {
                    margin-right: $buttonSpacing;
                    img {
                        width: $buttonSize;
                    }
                }
                #favoritesButton {
                    margin-right: $buttonSpacing;
                    img {
                        width: $buttonSize;
                    }
                }
                #loginButton {
                    img {
                        width: $buttonSize;
                        // border: 1px solid rgb(50, 64, 134);
                        border-radius: 100vw;
                    }
                }
            }
        }
        #searchBar {
            background-color: vars.$white;
            border-radius: 100px;
            height: 50px;
            display: flex;
            margin: 30px 40px;
            #searchInput {
                width: 0px;
                font-size: 1.5em;
                border-radius: 100px;
                padding: 0 0 0 15px;
                border: none;
                flex-grow: 2;
                outline: none;
                background-color: transparent;
                font-family: 'Rubik', sans-serif;
            }
            #searchButton {
                align-self: center;
                $diameter: 42px;
                margin-right: 4px;
                width: $diameter;
                min-width: $diameter;
                height: $diameter;
                background-color: vars.$light;
                border-radius: 100px;
                border: none;
                cursor: pointer;
                padding: 5px;
                &:hover {
                    background-color: vars.$dark;
                }
            }
        }
        padding-bottom: 20px;
    }

    .row {
        font-family: 'Rubik', sans-serif;
        .btn-login {
            font-size: 0.9rem;
            letter-spacing: 0.05rem;
            padding: 0.75rem 1rem;
            font-family: 'Rubik', sans-serif;
          }
          
          .btn-google {
            color: white !important;
            background-color: #ea4335;
            font-family: 'Rubik', sans-serif;
          }
          
          .btn-facebook {
            color: white !important;
            background-color: #3b5998;
            font-family: 'Rubik', sans-serif;
          }
    }
}