@use 'vars' as vars;


#content {
  width: 100vw;
  height: 100vh;
  background-color: vars.$dark;
  display: flex;
  flex-direction: column;
  align-items: center;
  // column-count: 5;
  
  #contentHeader {
    color: white;
    font-size: 4em;
    // width: 60vw;
    text-align: center;
    margin: 50px 0 50px 0;
    font-family: 'Rubik', sans-serif;
  }

  // #gifContainer {
  //   display: flex;
  //   flex-wrap: wrap;
  //   justify-content: center;
  //   column-count: 4;
  
  //   img {
  //     $img-size: 15em;
  //     width: auto;
  //     height: $img-size;
  //     margin: .5em;
  //     &:hover {
  //       display: block;
  //     }
  //   }
  // }


  #gifContainer {
    column-count: 6;
    margin: 10px 2em 0 2em;
    padding-bottom: 100px;

    @media (max-width: 1500px) {
      column-count: 5;
    }
    @media (max-width: 1200px) {
      column-count: 4;
    }
    @media (max-width: 1000px) {
      column-count: 3;
    }
    @media (max-width: 800px) {
      column-count: 2;
    }

    .gifDiv {
      position: relative;
      border-radius: 10px;
      .iconImage {
        position: absolute;
        display: none;
        bottom: 28px;
        left: 15px;
        z-index: 123;
        height: 2em;
        cursor: pointer;
      }

      &:hover {
        .iconImage {
          display: block;
        }
      }
      .mainImage {
        $img-size: 15em;
        width: 100%;
        height: auto;
        border-radius: inherit;

      }
    }
  }
}